.MyCart-conatainer{
    width: 50%;
    height:100vh;
    background-color: rgb(2 173 77);
    border: 1px solid black;
    color: #fff; 
    overflow-y : scroll;
    
}

.MyCart-box{
    height: 250px;
    position:fixed;
    padding:0px 50px;
}
